<ion-modal-view>
    <div class="bar bar-header bar-calm">
        <div class="h1 title">Agreement</div>
    </div>
    <ion-content class="has-header">
        <form ng-submit="doAgreement()">
            <div class="list card">
                <div class="item item-body">
                    <h2>Term of use</h2>
                    <h3 class="assertive">Licence agreement</h3>
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer The terms and conditions are as follows:
                        <br> 1.
                        <br> 2.
                        <br>
                    </p>
                </div>
                <label class="item">
                    <button class="button button-block button-calm" type="submit">Agree</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
