<ion-view>
    <div class="bar bar-header bar-calm">
        <a ng-click="goBack()" class="button ion-chevron-left button-clear"> Back</a>
        <div class="h1 title">Lab</div>
    </div>
    <ion-content class="has-header">
        <div class="list pull-left" ng-repeat="Lab in ChkLabs">
            <div class="card">
                <div class="item item-avatar">
                    <div class="icon-avatar">
                        <i class="icon ion-beaker"></i>
                    </div>
                    <h2>{{Lab.LabGroup}}</h2>
                </div>
                <div class="item item-body" ng-repeat="labDtl in Lab.ChkLabs">
                    <div class="row">
                        <div class="col col-120">
                            {{labDtl.LabName}}
                            <p>{{labDtl.ResultValue}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>
